.logo {
  display: flex;
}

.logo__image--big {
  display: none;
}

.logo:hover {
  opacity: 0.3;
}

.logo--footer svg {
  margin-right: 15px;
}

@media (min-width: $vp-768) {
  .logo__image--small {
    display: none;
  }

  .logo__image--big{
    display: block;
    width: 215px;
    height: 55px;
  }

  .logo {
    margin-right: 10px;
  }
}
