.logo {
  display: flex;
}

.logo:hover {
  opacity: 0.3;
}

.logo--footer svg {
  margin-right: 15px;
}

.logo__words {
  display: none;
  flex-direction: column;
  justify-content: center;
  color: #F2F5F6;
}

.logo__words--footer {
  display: flex;
}

.logo__name {

  @extend %roboto-condensed-700;
  font-size: 25px;
  line-height: 25px;
}

.logo__slogan {

  @extend %roboto-500;
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: $vp-768) {
  .logo svg {
    width: 55px;
    height: 55px;
    margin-right: 15px;
  }

  .logo__words {
    display: flex;
  }
}
