.main-footer {
  background-color:#041827;
  flex: 0 0 auto;
}

.main-footer__wrapper {
  padding-bottom: 35px;
}

.main-footer__logo-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 50px 25px 50px;
  border-bottom: 1px solid rgba(248, 253, 255, 0.7);
}

.main-footer__logo {
  margin-bottom: 15px;
}

.main-footer__contacts-subtitle {
  display: none;
  margin: 0;

  @extend %roboto-condensed-400;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: calc(1em / 20);
  color:#FFFFFF;
}

.main-footer__contacts-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-footer__contacts-item {
  border-bottom: 1px solid rgba(248, 253, 255, 0.7);
}

.main-footer__links-group ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-footer__accordion {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @extend %roboto-condensed-400;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: calc(1em / 20);
  color:#FFFFFF;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 18px 25px;
}

.main-footer__accordion::after {
  content: "";
  position: absolute;
  right: 27px;
  width: 15px;
  height: 15px;
  background-image: url("../img/minus.webp");
  background-color: transparent;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/minus-2x.webp");
  }
}

.main-footer__accordion:hover::after {
  opacity: 0.5;
}

.main-footer__accordion--closed::after {
  content: "";
  position: absolute;
  right: 27px;
  width: 15px;
  height: 15px;
  background-image: url("../img/plus.webp");
  background-color: transparent;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/plus-2x.webp");
  }
}

.main-footer__accordion--closed:hover::after {
  opacity: 0.5;
}

.main-footer__links-list {
  list-style-type: none;
  padding: 0 0 20px 25px;
  margin: 0;
}

.main-footer__links-list--closed {
  display: none;
}

.main-footer__links-item a {
  width: fit-content;
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

.main-footer__links-item:hover a {
  opacity: 0.5;
}

.main-footer__links-item:last-of-type a {
  margin-bottom: 0;
}

.main-footer__links-item a address {
  font-style: normal;
}

@media (min-width: $vp-768) {
  .main-footer__wrapper {
    padding-bottom: 65px;
  }

  .main-footer__logo {
    margin: 0;
  }

  .main-footer__logo-social {
    flex-direction: row;
    justify-content: space-between;
    border-bottom: none;
    padding: 50px 45px 35px 50px;
  }

  .main-footer__contacts-list {
    display: flex;
    justify-content: space-between;
    padding: 0 63px 0 50px;
  }

  .main-footer__contacts-item {
    border: none;
  }

  .main-footer__links-group--one {
    margin-bottom: 10px;
  }

  .main-footer__contacts-subtitle {
    display: block;
    margin-bottom: 20px;
  }

  .main-footer__accordion {
    display: none;
  }

  .main-footer__links-list {
    display: block;
    padding: 0;
  }

  .main-footer__links-item a {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }
}

@media (min-width: $vp-1024) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 50px 35px 55px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-footer__logo-social {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: none;
    padding: 0;
  }

  .main-footer__logo {
    margin-bottom: 30px;
  }

  .main-footer__contacts-list {
    padding: 0;
    margin-top: 7px;
  }

  .main-footer__links-list {
    display: flex;
    flex-direction: column;
  }

  .main-footer__links-list--first {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
  }

  .main-footer__links-group--one {
    margin-right: 20px;
  }
}

@media (min-width: $vp-1280) {
  .main-footer__wrapper {
    padding: 50px 65px 55px 35px;
  }

  .main-footer__links-list--first {
    margin-right: 125px;
  }

  .main-footer__links-group--one {
    margin-right: 50px;
    margin-bottom: 0;
  }
}
